body{
  font-family: monospace;
  background-color: green;
  color: white;
}

.row{
 width: 60%;
 text-align: center;
 margin: auto;
}

label{
  color: white;
  font-size: 16px;
}

p{
  font-size: 16px;
}

button{
  margin-top: 25px;
  background-color: white;
  padding: 10px;
  font-family: monospace;
  border: none;
}

header{
  color: white;
  padding: 20px;
  margin-bottom: 10px;
  font-size: 30px;
  text-align: center;
}

